dist-newstyle/
.cabal-sandbox/
*.hi
*.o
*.dyn_hi
*.dyn_o
*.prof
*.eventlog
*.aux
*.hp
*.hpc
*.tix
*.mix
*.so
*.dylib
*.dll

.vscode/settings.json
.vscode/ipch
.vscode/browse.vc.db
.vscode/*.db

.DS_Store
